node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

/android

# Expo native modules build outputs
**/android/build/
**/android/.cxx/
**/android/local.properties
**/ios/build/
**/ios/Pods/
**/ios/.xcode.env.local

!google-services.json